<section class="cart">
  <h2>Your Cart ({{ totalCartItems }})</h2>
  <div class="cart-items">
    @if (cartItems.length === 0) {
      <div class="empty-cart-content">
        <img src="images/illustration-empty-cart.svg" alt="empty cart svg">
        <p class="empty-cart-description">
          Your added items will appear here
        </p>
      </div>
    } @else {
      @for (item of cartItems; track item.product.name) {
        <div class="cart-item">
          <div class="item-details">
            <h3>{{ item.product.name }}</h3>
            <div class="price-details">
              <p class="quantity">{{ item.quantity }}x</p>
              <p class="unit-price"> ${{ item.product.price.toFixed(2) }}</p>
              <p class="item-total">${{ (item.product.price * item.quantity).toFixed(2) }}</p>
            </div>
          </div>
          <button class="remove-item" (click)="removeItem(item.product.name)">
            <img src="images/icon-remove-item.svg" alt="Remove item">
          </button>
        </div>
        <hr>
      }
    }
  </div>
  @if (cartItems.length > 0) {
    <div class="order-summary">
      <div class="cart-total">
        <h3>Order Total</h3>
        <p class="total-price">${{ cartTotal.toFixed(2) }}</p>
      </div>
      <div class="carbon-neutral-delivery">
        <img src="images/icon-carbon-neutral.svg" alt="Carbon neutral icon">
        <p>This is a <b>carbon-neutral</b> delivery</p>
      </div>
      <button class="confirm-order" (click)="openOrderConfirmedModal()">Confirm Order</button>
    </div>
  }
</section>

@if (showOrderConfirmedModal) {
  <app-order-confirmed-modal
    [cartItems]="cartItems"
    [orderTotal]="cartTotal"
    (startNewOrderEvent)="startNewOrder()"
  ></app-order-confirmed-modal>
}
