@use 'variables' as *;
@use 'mixins' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;

  .order-confirmed-header {
    margin-bottom: 1.5rem;

    img {
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2rem;
      color: var(--neutral-900);
      margin-bottom: 0.5rem;
    }

    p {
      color: var(--neutral-500);
    }
  }

  .order-summary-items {
    background-color: var(--neutral-100);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    max-height: 250px; /* Adjust as needed */
    overflow-y: auto;

    .summary-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .item-details {
        display: flex;
        align-items: center;

        .item-thumbnail {
          width: 50px;
          height: 50px;
          border-radius: 4px;
          margin-right: 1rem;
        }

        h3 {
          font-size: 1rem;
          color: var(--neutral-900);
        }

        .price-details {
          display: flex;
          gap: 0.5rem;

          .quantity {
            font-weight: bold;
            color: var(--primary-500);
          }

          .unit-price {
            color: var(--neutral-500);
          }
        }
      }

      .item-total {
        font-weight: bold;
        color: var(--neutral-900);
      }
    }

    hr {
      border: none;
      border-top: 1px dashed var(--neutral-300);
      margin: 1rem 0;
    }
  }

  .order-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    p {
      color: var(--neutral-500);
    }

    .order-total {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--neutral-900);
    }
  }

  .start-new-order-button {
    background-color: $red;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;

  }
}
