<main>
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container">
      @for (item of desserts; track $index) {
        <div class="dessert-item">
          <section class="item-image-add-to-cart">
            <img src="{{ desserts?.[$index]?.image?.tablet }}" alt="dessert image">
            @if (desserts?.[$index]) {
              <app-add-to-cart 
                [product]="desserts![$index]"
                (quantityChange)="onQuantityChange($event)"
              />
            }
          </section>
          <section class="item-info">
            <p class="category">{{desserts?.[$index]?.category}} </p>
            <p class="name"> {{desserts?.[$index]?.name }}</p>
            <p class="price">${{ desserts?.[$index]?.price }}</p>
          </section>
        </div>
      }
    </div>
  </section>

  <app-cart></app-cart>
</main>