@use 'reset' as *;
@use 'mixins' as *;
@use 'variables' as *;

body {
  padding: 5.5rem 7rem;
  @include flex();
  width: 100%;
  min-height: 100dvh;
  background-color: $rose-50;

  @media (max-width: $breakpoint-mobile)  {
    padding: 1.5rem;
  }

  @media (min-width: $breakpoint-tablet)  {
    padding: 2.5rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
